 <!-- Navbar Section -->
 <header id="navbar" class="navbar" data-aos="fade-in" data-aos-duration="2000">
    <div class="navbar-container">
        <div class="logo">
            <a href="/"><span>MorudiTech</span></a>
        </div>
        <!-- Navbar Menu -->
        <nav class="navbar-menu">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
        <!-- Hamburger Toggle Button -->
        <button class="hamburger" id="hamburger-toggle" aria-label="Open Menu">&#9776;</button>
    </div>
</header>

<!-- Sidebar -->
<div id="sidebar" class="sidebar">
    <div class="sidebar-content">
        <h3 class="text-white">Menu</h3>
        <ul>
            <li><a href="/" class="text-white">Home</a></li>
            <li><a href="#about" class="text-white">About</a></li>
            <li><a href="#services" class="text-white">Services</a></li>
            <li><a href="#contact" class="text-white">Contact</a></li>
        </ul>
    </div>
    <!-- Close button inside sidebar -->
    <span id="sidebar-close">&times;</span>
</div>